{% extends "base_generic.html" %}
    {% block content %}
    {% load static %}
    <div class="container justify-content-xl-center" style="margin: 0px;padding: 0px;height: auto;">
        <div class="row d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center">
            <div class="col d-flex d-md-flex d-xl-flex justify-content-center align-items-center">
                <div data-bss-hover-animate="pulse" class="search-center" type="button" onclick="location.href = '/'">
                    <div class="row">
                        <div class="col">
                            <h5>Accueil</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><img src="{% static 'acp/icon_accueil_white.png' %}" style="width: 40%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex d-xl-flex d-xxl-flex justify-content-xl-center align-items-xl-center align-items-xxl-center" style="height: 100%;">
            <div class="col d-flex justify-content-center align-items-center" style="height: 100%;">
                <div style="width: 80%;height: 100%;background: #ececec;border-radius: 40px;border: 3px solid #000091;">
                    <div class="col text-center">
                        <div class="row">
                            <div class="col">
                                <h1 style="font-size: 5vw;"><span style="text-decoration: underline;">Vaccins et Vaccination</span></h1>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-auto mx-auto" style="width: 80%;">
                                {% if infos %}
                                {% for info in infos %}
                                <div name="pa_text" class="text-center d-flex d-xl-flex flex-column justify-content-center align-items-center justify-content-xl-start align-items-xl-center justify-content-xxl-center align-items-xxl-center info-component" data-bss-hover-animate="pulse" type="button" style="min-height: 40px;max-height: 400px;">
                                    <div class="row">
                                        <div class="col-10 text-center align-self-center order-first ms-auto">
                                            <h2 class="text-center d-block justify-content-xxl-center align-items-xxl-center" style="font-size: 2vw;">{{ info.title }}</h2>
                                        </div>
                                        <div class="col-2 me-auto"><img src="{% static 'acp/icon_triangle.png' %}" style="transform: rotate(90deg) scale(0.50);width: 8vw;"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p style="max-height: 300px;padding: 10px;display: none;overflow-y: scroll;">{{info.text}}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var cards = document.getElementsByName("pa_text");
            for (var index = 0; index < cards.length; index++) {
                cards[index].addEventListener("click", event => {
                var div = event.currentTarget
                var p = div.getElementsByTagName("p")[0];

                if (p.style.display === "none") {
                    p.style.display = "block";
                } else {
                    p.style.display = "none";
                }
            })
        }
    </script>
    
    {% endblock %}