.card {
  max-width: 380px;
  height: 500px;
  background: linear-gradient(150deg, #454B99, #E93F4C);
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  opacity: 0.90;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.card:hover {
  background: linear-gradient(150deg, #454B99 20%, #E0724F 80%);
}

.entete {
  max-width: 330px;
  max-height: 180px;
  background: var(--bs-white);
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  color: #4A55E5;
  box-shadow: 3px 3px 10px var(--bs-dark);
  margin-right: 5px;
  margin-left: 5px;
}

.title-card {
  font-family: Marianne;
  text-align: center;
  margin: 0px;
  font-size: 30px;
}

.icon-card {
  width: 160px;
  height: 160px;
  padding-top: 0px;
  margin: 70px;
}

.search-center {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: linear-gradient(-122deg, #E93F4C 10%, #454B99 80%), var(--bs-white);
  margin: 20px;
  border: 5px solid var(--bs-dark) ;
  font-size: 11px;
  text-align: center;
}

.search-center:hover {
  background: linear-gradient(-122deg, #E0724F 20%, #454B99 80%);
}

h5 {
  font-size: 16px;
  font-family: Marianne;
  margin-top: 10px;
}

.info-component {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, #6871E2 20%, #E93F4C 80%);
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  max-height: 100px;
  min-height: 50px;
  height: auto;
}

.info-component:hover {
  background: linear-gradient(90deg, #6871E2 20%, #E0724F 80%);
}

.article-head {
  border-width: 3px;
  border-style: solid;
  margin: 5px;
  border-radius: 40px;
  background: linear-gradient(90deg, #6871E2 20%, #E93F4C);
}

.article-card {
  border-width: 3px;
  border-style: solid;
  margin: 5px;
  border-radius: 40px;
  /*background: linear-gradient(90deg, #6871E2 20%, #E93F4C);*/
}

.text_input_usr {
  background: linear-gradient(90deg, #454b99, #e93f4c);
  max-width: 300px;
  border: 2px solid #212529 ;
}

