.card {
  max-width: 380px;
  height: 500px;
  background:  #000091;
  border-radius: 10px;
  box-shadow: 3px 3px 10px;
  opacity: 0.90;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.card:hover {
  background: linear-gradient(150deg, #000091 20%, #e1000f 150%);
}

.card-white {
  max-width: 380px;
  height: 500px;
  background:  #ffffff;
  border-radius: 10px;
  padding-top: 10px;
  box-shadow: 3px 3px 10px;
  opacity: 0.90;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.card-white:hover {
  background: linear-gradient(150deg, #ffffff 20%, #e1000f 150%);
}

.entete {
  max-width: 330px;
  max-height: 180px;
  background: var(--bs-white);
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  color: #000091;
  box-shadow: 3px 3px 10px var(--bs-dark);
  margin-right: 5px;
  margin-left: 5px;
}

.entete-blue {
  max-width: 330px;
  max-height: 180px;
  background: #000091;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
  box-shadow: 3px 3px 10px var(--bs-dark);
  margin-right: 5px;
  margin-left: 5px;
}

.title-card {
  font-family: Marianne;
  text-align: center;
  margin: 0px;
  font-size: 30px;
}

.icon-card {
  width: 160px;
  height: 160px;
  padding-top: 0px;
  margin: 70px;
}

.search-center {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: #000091;
  color: #ffffff;
  margin: 20px;
  border: 5px solid var(--bs-dark) ;
  font-size: 11px;
  text-align: center;
}

.search-center:hover {
  background: linear-gradient(-122deg, #e1000f 20%, #000091 80%);
}

h5 {
  font-size: 16px;
  font-family: Marianne;
  margin-top: 10px;
}

.info-component {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, #000091 -20%, #ffffff 60%);
  border-radius: 25px;
  border-width: 2px;
  border-style: solid;
  max-height: 100px;
  min-height: 50px;
  height: auto;
}

.text-component {
  display: none;
}

.info-component:hover {
  background: linear-gradient(90deg, #000091 -20%, #ffffff 60%);
}

.article-head {
  border: 3px solid #000091;
  margin: 5px;
  border-radius: 40px;
  background: #ffffff;
  color: #000091;
}

.article-card {
  border: 3px solid #000091;
  margin: 5px;
  border-radius: 40px;
  /*background: linear-gradient(90deg, #6871E2 20%, #E93F4C);*/
}

.text_input_usr {
  background: linear-gradient(90deg, #000091 0%, #ffffff 120%);
  max-width: 300px;
  border: 2px solid #ffffff ;
}

